**Tuples**
Tuples going to be something new and interesting if you are C or JAVA programmer. I can't wait to show and tell you about Tuples and operations with it. Are curious to know? Let's go! 


-A tuple is similar to list

-The diffence between the two is that we can't change the elements of tuple once it is assigned (non-mutable) whereas in the list, elements can be changed (mutable)

In [4]:
#TUPLE CREATION

#empty tuple
t1 = ()

#tuple having integers
t2 = (1, 2, 3)
print(t2)

#tuple with mixed datatypes
t3 = (1, 'raju', 28.8888, 'abc')
print(t3)

#nested tuple
t4 = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t4)

print(type(t4))

(1, 2, 3)
(1, 'raju', 28.8888, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])
<class 'tuple'>

In [5]:
t5 = ('manoj')
print(type(t5))

<class 'str'>

Have you seen the above output?, its not tuple even if I declared in paranthesis ()? Why its still considering that as a string?; what should I do to make the element a tuple?

try,
t5 = ('manoj',)

parathesis alone..not enough, a comma is needed to system to identify it a a tuple

In [8]:
#ACCESSING ELEMENTS IN THE TUPLE

t6 = ('batman', 'Manoj', '8055', 'boss', 'Ottawa')                 #Syntax is always important to remember

print(t6[1])

#negative index
print(t6[-1]) #print last element in a tuple; similar to the LISTS

Manoj
Ottawa

In [14]:
#nested tuple
t7 = ('Ottawa', ('Calgary','BC','Alberta','Nunavut'), 'Montreal')

print(t7[1]) #As the 2nd element in the tuple is a sub-tuple; it prints the sub-tuple

print(t7[1][2]) #this is how we access an subtuples

('Calgary', 'BC', 'Alberta', 'Nunavut')
Alberta

In [15]:
#Slicing
t8 = (8055,1,2,5,6,77,88,99)

print(t8[1:4])

#print elements from starting to 2nd last elements
print(t8[:-2])

#print elements from starting to end
print(t8[:])


#Slicing is very similar to what we have discussed in the lists

(1, 2, 5)
(8055, 1, 2, 5, 6, 77)
(8055, 1, 2, 5, 6, 77, 88, 99)

#Changing or modifying a TUPLE

unlike lists, tuples are immutable
    This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [16]:
#attempt to change
t8[2] = 'x' #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [17]:
t7[1][2]='NOVA SCOTIA'

TypeError: 'tuple' object does not support item assignment

In [20]:
t9=('manoj','boss','batman',[1,2,4,5,'gm'])
print(t9)
t9[3][3]="MANOJ"
print(t9)

#Not the element 'MANOJ' assigned to the tuple; No need to get confuse, the is a minute change in tuple t9 and tuple t7;
#sub-tuple and sub string;
#A we know string or sub-string can be modified not tuple; so t9 tuple actually has a List inside it not a sub-tuple

('manoj', 'boss', 'batman', [1, 2, 4, 5, 'gm'])
('manoj', 'boss', 'batman', [1, 2, 4, 'MANOJ', 'gm'])

In [21]:
#concatinating tuples

t10 = ('MANOJ','batman',8055 ) + (4, 5, 6)
print(t10)

('MANOJ', 'batman', 8055, 4, 5, 6)

In [23]:
#repeat the elements in a tuple for a given number of times using the * operator.
print(t10*10)


t11=(('BATMAN',)*50)
print(t11)

('MANOJ', 'batman', 8055, 4, 5, 6, 'MANOJ', 'batman', 8055, 4, 5, 6, 'MANOJ', 'batman', 8055, 4, 5, 6, 'MANOJ', 'batman', 8055, 4, 5, 6, 'MANOJ', 'batman', 8055, 4, 5, 6, 'MANOJ', 'batman', 8055, 4, 5, 6, 'MANOJ', 'batman', 8055, 4, 5, 6, 'MANOJ', 'batman', 8055, 4, 5, 6, 'MANOJ', 'batman', 8055, 4, 5, 6, 'MANOJ', 'batman', 8055, 4, 5, 6)
('BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN', 'BATMAN')

TUPLE DELETE

we cannot change the elements in a tuple. 
That also means we cannot delete or remove items from a tuple.

In [25]:

#delete entire tuple using del keyword
t12 = (8055, 'MANOJ', 3, 4, 5, 6)

#delete entire tuple
del t12

In [28]:
#TUPLE COUNT
t11.count('BATMAN')

#Tells the frequency

50

In [31]:
#Tuple Indexing


t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) 
print(t.index(4))

#this is know the 1st representing index of the desired element

2
6

In [34]:
#Tuple MEMBERSHIP

#This validates the membership of the tuple; 
print(1 in t)
print('BATMAN' in t11)
print('Hero' in t11)

True
True
False

Built in Functions

In [40]:

#TUPLE LENGTH
print(len(t))

#TUPLE SORT
print(sorted(t))

print(max(t))
print(min(t))
print(sum(t))
print(max(t11))
print(sum(t11))

8
[1, 1, 1, 2, 3, 3, 3, 4]
4
1
18
BATMAN

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**SETS**

Set creation..(syntax{})

-sets doesnt allow duplicates; it allow only one instance of each element
-Sets doesnt support indexing

In [42]:
#set of creation
s = {2,3,4,5,6,77,88,88}
print(s)
print(type(s))

{2, 3, 4, 5, 6, 77, 88}
<class 'set'>

In [43]:
#we can add single element using add() method and 
#add multiple elements using update() method
s = {1, 3}

#set object doesn't support indexing
print(s[1]) #will get TypeError

TypeError: 'set' object is not subscriptable

Add single element and multiple elements using **add** and **update** respectively

adding single element is quite regular but adding multiple element, note that we are adding by making the elements as a LIST(check the belw syntax of multiple elements)

In [61]:
#add element
s.add(8055)
print(s)

#add multiple elements
s.update([8055,2345,11,22,33,44,55])
print(s)

{8055}
{33, 2345, 11, 44, 55, 22, 8055}

In [50]:
#REMOVING ELEMENTS FROM THE SET

#Respective elements can be removed from the SETS using remove() and discard(). So lets see how it works...,
s.remove(8055,3,11)
print(s)

TypeError: remove() takes exactly one argument (3 given)

In [58]:
s.discard(7)
print(s)



#the difference between discard() and remove() in sets are with errors,. i.e when given an element which is not there in the set, 
#remove throws error; where as discard will not, try it

{22}

In [63]:
#we can also remove elements using POP; which random

s.pop()
print(s)

{2345, 11, 44, 55, 22}

In [64]:
#to remove all the elements use clear()
s.clear()
print(s)

set()

In [67]:
#Python Set Operations


set1={2,3,4,5,6}
set2={5,6,7,8,9}

#union of 2 sets using |

print(set1|set2)
print(set1&set2)

#for intersesction we can also use
print(set1.intersection(set2))

{2, 3, 4, 5, 6, 7, 8, 9}
{5, 6}
{5, 6}

In [68]:
"""symmetric difference: set of elements in both set1 and set2 
#except those that are common in both."""

#use ^ operator

print(set1^set2)

#whaever is in common of both cells has been vomitted..!

{2, 3, 4, 7, 8, 9}

In [69]:
#find issubset()
x = {"a","b","c","d","e"}
y = {"c","d"}

print("set 'x' is subset of 'y' ?", x.issubset(y)) #check x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?", y.issubset(x))

set 'x' is subset of 'y' ? False
set 'y' is subset of 'x' ? True

Next **FROZEN SETS**; it cant be able to alterate or modify the data, but you can still perform all sorts of operations

In [ ]:
set1 = frozenset([1, 2, 3, 4, 8055])
set2 = frozenset([3, 4, 5, 6, 8055, 'MANOJ'])

#try to add element into set1 gives an error
set1.add(5)

Frozen sets has the characteristics of sets, but we can't be changed once it's assigned. While tuple are immutable lists, frozen sets are immutable sets

Frozensets can be created using the function .frozenset()
-**syntax** variation

Sets being mutable are 'unhashable', so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a 'dictionary'.(Dictionaries gooing to discussed soon)

This datatype supports methods like 
copy(), 

difference(), 

intersection(), 

isdisjoint(), 

issubset(), 

issuperset(), 

symmetric_difference() and 

union(). 

Being immutable it does not have method that add or remove elements

In [70]:
set1 = frozenset([1, 2, 3, 4, 8055])
set2 = frozenset([3, 4, 5, 6, 'BATMAN'])

#try to add element into set1 gives an error
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [72]:
print(set1[1]) # As mentioned earlier, frozen set doesn't support indexing

TypeError: 'frozenset' object is not subscriptable

In [74]:
print(set1 | set2) #union of 2 sets

#intersection of two sets
print(set1 & set2)

#or 
print(set1.intersection(set2)) #Exactly similar lo to the

frozenset({1, 2, 3, 4, 5, 6, 'BATMAN', 8055})
frozenset({3, 4})
frozenset({3, 4})

In [75]:
#use intersection function 
print(set1.intersection(set2))

frozenset({3, 4})

In [79]:
#set Difference: set of elements that are only in set1 but not in set2

print(set1 - set2)

"""symmetric difference: set of elements in both set1 and set2 
#except those that are common in both."""

#use ^ operator

print(set1^set2)

#use symmetric_difference function
print(set1.symmetric_difference(set2))

frozenset({1, 2, 8055})
frozenset({1, 2, 5, 6, 'BATMAN', 8055})
frozenset({1, 2, 5, 6, 'BATMAN', 8055})

Most of the syntax is almost same; just be mindful while your are initiating, as there is a subtle difference between sets and frozen sets

**DICTIONARIES**

Dictionaries are a speacial data structure. It operates in as a set of 2 paraments called **keys** and **values**. 

Dictionaries creates an virtual data table which can be accessed by **keys** to retrive **values**

The advantage of Dictionaries over the other data structures like tuples, list etc is.., the Dictionaries are efficient and faster. Dictionaies are extensively used in Data Science and complex computations. The reason behind being fast is, the key and values concept.

For example, In the case of list or tuples, we have to go through number of iterations to get particular values, but in case of dictionaries the value can be directly retrived with the respective key. 

Let us see the syntax, and basic usage of Dictionaries

In [88]:
#empty dictionary
my_dic = {}
#syntax-curly braces

#dictionary with integer keys
#print(my_dic)

#dictionary with mixed keys
my_dic = {1: 'abc', 2: '8055', 3: "batman", 'xyz':"hero"}
print(my_dic)


#create empty dictionary using dict()
my_dict = dict()

my_dict = dict([(1, 'abc'), (2, 'xyz')])    #create a dict with list of tuples
print(my_dict)

{1: 'abc', 2: '8055', 3: 'batman', 'xyz': 'hero'}
{1: 'abc', 2: 'xyz'}

In [89]:
print(my_dic['xyz'])

hero

In [120]:
proper_dic={'name':"MANOJ", 'age':23, 'Sex':'MALE', 'Country': 'CANADA', 'Origin':'CANADA'}
print(proper_dic)
print(proper_dic['name'])    #Syntax #for accessing a key

#another way of accessing a key
print(proper_dic.get('name'))

#if you entered a key which does not exit; it will throw an error; try it

{'name': 'MANOJ', 'age': 23, 'Sex': 'MALE', 'Country': 'CANADA', 'Origin': 'CANADA'}
MANOJ
MANOJ

**DICTIONARIES: ADDING OR MODIFYING ELEMENTS**

In [139]:
#lets update a new name

proper_dic['name']='BATMAN'
print(proper_dic)

#remembering syntax is the key here; No need to browse each time if you remember it; I know too many remembering too many
#syntax is not easy. May be we can do it by little more hands on practice wrto syntax

proper_dic['Degree']='Masters'
print(proper_dic)

{'name': 'BATMAN', 'age': 23, 'Origin': 'CANADA'}
{'name': 'BATMAN', 'age': 23, 'Origin': 'CANADA', 'Degree': 'Masters'}

In [121]:
#to delete a DICT element; use pop

proper_dic.pop('Country')        #You can see the syntactic difference clearly; if it is .pop we are using round braces and if it is a function like del we used the square brackets
print(proper_dic)

#OR; to delete use remove
del proper_dic['Sex']
print(proper_dic)

#remove an arbitarty key
#my_dict.popitem()

{'name': 'MANOJ', 'age': 23, 'Sex': 'MALE', 'Origin': 'CANADA'}
{'name': 'MANOJ', 'age': 23, 'Origin': 'CANADA'}

In [123]:
#remove all items
squares.clear()

print(squares)

NameError: name 'squares' is not defined

In [124]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

#delete dictionary itself
del squares

print(squares) #NameError because dict is deleted

NameError: name 'squares' is not defined

**dictionary methods**

In [126]:
squar = {2: 4, 3: 9, 4: 16, 5: 25}

my_dic2 = squar.copy()
print(my_dic2)

{2: 4, 3: 9, 4: 16, 5: 25}

In [127]:
#fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).
subjects = {}.fromkeys(['Math', 'English', 'Hindi'], 0)
print(subjects)

#formkeys is quite similar to .format()

{'Math': 0, 'English': 0, 'Hindi': 0}

In [128]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.items()) #return a new view of the dictionary items (key, value)

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [129]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.keys()) #return a new view of the dictionary keys

dict_keys([2, 3, 4, 5])

In [130]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.values()) #return a new view of the dictionary values

dict_values([4, 9, 16, 25])

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [146]:
print(proper_dic.__gt__)

<method-wrapper '__gt__' of dict object at 0x000000A854619090>

In [147]:
print(123+0.0) #PCEP sample question

123.0

In [149]:
print(1/1) #PCEP sample - more on the PCEP sample questions dedicated python notebook

1.0